<p id="notice"><%= notice %></p>
<div class="row column text-center">
  <h2>Meet Our Designers</h2>
  <hr>
</div>
<div class="row small-up-2 large-up-4">
  <% @designers.each do |designer| %>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5><%= designer.name %></h5>
        <p><%= designer.email %></p>
        <p><%= designer.bio %></p>
      </div>
  <% end %>
</div>
<hr>
<br>

<%= link_to 'Home', root_path %>
