<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td>
      <strong>Name:</strong>
      <%= @designer.name %>
    </td>
    <td>
      <strong>Surname:</strong>
      <%= @designer.surname %>
    </td>

    <td>
      <strong>Cell number:</strong>
      <%= @designer.cell_number %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Email:</strong>
      <%= @designer.email %>
    </td>
    <td>
      <strong>Address:</strong>
      <%= @designer.address_line_1 %> <br>
      <%= @designer.address_line_2 %> <br>
      <%= @designer.address_line_3 %> <br>
      <%= @designer.surburb %> <br>
      <%= @designer.city %> <br>
      <%= @designer.province %> <br>
      <%= @designer.country %> <br>
      <%= @designer.post_code %>
    </td>
    <td>
      <strong>Photo</strong>
      <%= @designer.photo_url %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Bio:</strong>
      <%= @designer.bio %>
    </td>

  </tr>
</table>
<%= link_to 'Edit', edit_designer_path(@designer) %> |
<%= link_to 'Back', designers_path %>
