<p id="notice"><%= notice %></p>

<p>
  <strong>Designer:</strong>
  <%= @product.designer_id %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @product.photo_url %>
</p>
<% if signed_in? %>
    <%= link_to '', class: 'button', data: {target: @cart_action, addUrl:
        add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do %>
        <i class='fi-shopping-cart'></i>
        <span><%= @cart_action %></span> Cart
    <% end %>
    <% if current_user.my_product(@product) %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
    <% end %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>